h1{
    text-align: center;
    color:black;
    font: "Arial"
}
#main_paragraph{
    color: darkblue;
    font: "Arial";
}
#intro_paragraph{
    color: darkblue;
    font: "Arial"
}
#circuits_image{
    
    height: 400px;
    width: 400px;
}